body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
}

html {
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  transition: 0.1s linear;
  color: inherit;
  border: none;
  font-family: inherit;
}

button:hover {
  transform: scale(1.05);
}

hr {
  margin: 30px 0;
  border: #D2E1FF 1px solid;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 115px;
}

.header_inner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
}
.header_inner .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_inner .menu .nav {
  color: #697CA6;
}
.header_inner .menu .nav .link {
  text-shadow: 0px 0px 5px #E6E6E6;
  margin-left: 40px;
}
.header_inner .menu .nav span {
  color: #5E81FE;
  font-weight: bold;
}
.header_inner .media {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_inner .media .nav .link {
  margin-right: 30px;
}
.header_inner .media .button {
  padding: 15px 20px;
  border-radius: 2px;
  color: #5E81FE;
  font-weight: bold;
  background-color: #D2E1FF;
}

.intro .container {
  padding: 0;
}
.intro .intro_inner {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
  color: #3D4F9F;
  text-align: center;
  height: 570px;
  background-image: url("img/intro/bg.jpg");
}
.intro .intro_inner h2 {
  font-size: 10px;
  font-weight: 300;
}
.intro .intro_inner h1 {
  margin: 20px 0;
  font-size: 48px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.intro .intro_inner h1 span {
  font-weight: 500;
}
.intro .intro_inner p {
  width: 470px;
  color: #697CA6;
  font-size: 15px;
}
.intro .intro_inner .circle {
  margin-top: 10px;
  display: inline-block;
  font-size: 180%;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  letter-spacing: -0.2em;
  color: #5E81FE;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
}
.intro .intro_inner .slider {
  padding-top: 200px;
}
.intro .intro_inner .slider img {
  margin-right: 10px;
}
.intro .intro_inner .slider img:last-child {
  margin-right: 0;
}

.customers .customers_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 146px;
}
.customers .customers_inner .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers .customers_inner .nav .link {
  margin-right: 80px;
  transition: 0.1s linear;
}
.customers .customers_inner .nav .link:hover {
  transform: scale(1.1);
}
.customers .customers_inner .nav .link:last-child {
  margin: 0;
}

.manage {
  background: #F5F8FF;
}
.manage .manage_inner {
  height: 776px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #3D4F9F;
}
.manage .manage_inner .main h2 {
  font-size: 10px;
  font-weight: 300;
}
.manage .manage_inner .main h1 {
  margin: 20px 0;
  font-size: 48px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.manage .manage_inner .main h1 span {
  font-weight: 500;
}
.manage .manage_inner .main p {
  width: 400px;
  color: #697CA6;
  font-size: 15px;
}
.manage .manage_inner .main .buttons {
  padding-top: 40px;
}
.manage .manage_inner .main .button {
  padding: 15px 20px;
  border-radius: 2px;
}
.manage .manage_inner .main .button:first-child {
  color: #fff;
  background-color: #5E81FE;
}
.manage .manage_inner .main .button:last-child {
  color: #ADB4D2;
  background-color: #F5F8FF;
  border: 2px solid #ADB4D2;
}
.manage .manage_inner img {
  padding-top: 140px;
}

.features .container {
  padding: 0;
}
.features .features_inner {
  padding: 0 180px;
  text-align: center;
  height: 885px;
  background-image: url("img/features/bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.features .features_inner .title {
  padding: 160px 0 90px;
  color: #3D4F9F;
}
.features .features_inner .title h2 {
  font-size: 10px;
  font-weight: 300;
}
.features .features_inner .title h1 {
  margin-top: 20px;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.features .features_inner .main {
  display: flex;
  flex-direction: row;
}
.features .features_inner .main .item {
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
}
.features .features_inner .main .item h2 {
  padding: 30px 0;
  font-size: 14px;
  font-weight: 700;
  color: #5E81FE;
}
.features .features_inner .main .item p {
  color: #ADB4D2;
  width: 180px;
}
.features .features_inner .subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 0 170px;
}
.features .features_inner .subtitle p {
  color: #ADB3CB;
  margin: 0 50px;
}
.features .features_inner .subtitle .button {
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 2px;
}
.features .features_inner .subtitle .button:first-child {
  color: #D43F3F;
  background-color: #FFD7D7;
}
.features .features_inner .subtitle .button:last-child {
  color: #5E81FE;
  background-color: #D2E1FF;
}

.stats .container {
  padding: 0;
}
.stats .stats_inner {
  display: flex;
  justify-content: center;
  height: 343px;
}
.stats .stats_inner .item {
  font-family: "Quicksand", sans-serif;
  padding-top: 60px;
  width: 50%;
  height: 100%;
}
.stats .stats_inner .item h1 {
  font-size: 48px;
  margin: 30px 0;
  font-weight: 300;
}
.stats .stats_inner .item h2 {
  font-size: 19px;
}
.stats .stats_inner .item:first-child {
  padding-right: 80px;
  text-align: right;
  color: #fff;
  background-color: #5E81FE;
}
.stats .stats_inner .item:last-child {
  padding-left: 80px;
  text-align: left;
  color: #5E81FE;
  background-color: #D2E1FF;
}

.blog {
  background: #F5F8FF;
}
.blog .blog_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 865px;
}
.blog .blog_inner .title {
  text-align: center;
  padding-bottom: 100px;
  color: #3D4F9F;
}
.blog .blog_inner .title h2 {
  font-size: 10px;
  font-weight: 300;
}
.blog .blog_inner .title h1 {
  margin-top: 20px;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.blog .blog_inner .main {
  color: #3D4F9F;
  display: flex;
  flex-direction: row;
  background: #fff;
  width: 958px;
  height: 394px;
}
.blog .blog_inner .main img {
  width: 500px;
}
.blog .blog_inner .main .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog .blog_inner .main .text p {
  padding: 50px 0;
  width: 380px;
  color: #8D96BD;
  font-size: 14px;
}
.blog .blog_inner .main .text h1 {
  margin: 20px 0;
  font-size: 36px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.blog .blog_inner .main .text .button {
  font-weight: 700;
  padding: 15px 20px;
}
.blog .blog_inner .main .text .button:first-child {
  color: #5E81FE;
  background-color: #D2E1FF;
}
.blog .blog_inner .main .text .button:last-child {
  color: #A6B6DA;
  background-color: #fff;
}
.blog .blog_inner .slider {
  padding-top: 100px;
}
.blog .blog_inner .slider img {
  margin-right: 10px;
}
.blog .blog_inner .slider img:last-child {
  margin-right: 0;
}

.quotes {
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}
.quotes .quotes_inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 480px;
}
.quotes .quotes_inner .main {
  color: #3D4F9F;
}
.quotes .quotes_inner .main h2 {
  font-size: 10px;
  font-weight: 300;
}
.quotes .quotes_inner .main h1 {
  margin: 20px 0;
  font-size: 36px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.quotes .quotes_inner .main p {
  color: #697CA6;
}
.quotes .quotes_inner .main img {
  padding-left: 100px;
}

.faq .faq_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 965px;
}
.faq .faq_inner .title {
  text-align: center;
  padding-bottom: 100px;
  color: #3D4F9F;
}
.faq .faq_inner .title h2 {
  font-size: 10px;
  font-weight: 300;
}
.faq .faq_inner .title h1 {
  margin-top: 20px;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.faq .faq_inner .main {
  padding: 0 200px;
  font-size: 14px;
  color: #8E96B7;
}
.faq .faq_inner .main .item {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: row;
}
.faq .faq_inner .main .item h2 {
  font-size: 15px;
  padding-left: 20px;
}
.faq .faq_inner .main .item h2 span {
  color: #495274;
}
.faq .faq_inner .main .info {
  display: flex;
  flex-direction: row;
  padding: 25px 40px;
}
.faq .faq_inner .main .info p {
  width: 340px;
}
.faq .faq_inner .main .info .button {
  font-weight: 700;
  padding: 10px 25px;
  background: #E8ECF4;
  color: #7382A3;
}

.started {
  background: linear-gradient(199.86deg, #6888FF 12.77%, #5E80FF 73.11%);
}
.started .started_inner {
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  background-image: url("img/started/bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.started .started_inner h2 {
  font-size: 10px;
  font-weight: 300;
}
.started .started_inner h1 {
  font-size: 48px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}
.started .started_inner h1 span {
  font-weight: 500;
}
.started .started_inner p {
  font-size: 15px;
  padding: 30px 300px 40px;
}
.started .started_inner .buttons .button {
  font-weight: 700;
  padding: 10px 25px;
}
.started .started_inner .buttons .button:first-child {
  color: #565F82;
  background-color: #fff;
}
.started .started_inner .buttons .button:last-child {
  color: #C7D3FF;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #C7D3FF solid;
}

.news {
  background: #FCFDFF;
}
.news .news_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 332px;
}
.news .news_inner .one h1 {
  font-size: 18px;
  color: #3D4F9F;
  padding-bottom: 25px;
}
.news .news_inner .one p {
  width: 300px;
  font-size: 14px;
  color: #8D96BD;
}
.news .news_inner .two input {
  padding-left: 20px;
  margin-right: 10px;
  height: 58px;
  width: 280px;
  background: #EFEFF7;
  border: none;
  border-radius: 5px;
}
.news .news_inner .two .button {
  font-size: 13px;
  font-weight: 700;
  padding: 20px 60px;
  border-radius: 5px;
  color: #fff;
  background-color: #5E81FE;
}

.footer p {
  padding-left: 100px;
  color: #AEB8D0;
  font-size: 13px;
}
.footer .footer_inner {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
}
.footer .footer_inner .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .footer_inner .menu .nav {
  color: #697CA6;
}
.footer .footer_inner .menu .nav .link {
  text-shadow: 0px 0px 5px #E6E6E6;
  margin-left: 40px;
}
.footer .footer_inner .media {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .footer_inner .media .nav .link {
  margin-right: 30px;
}
.footer .footer_inner .media .button {
  padding: 15px 20px;
  border-radius: 2px;
  color: #5E81FE;
  font-weight: bold;
  background-color: #D2E1FF;
}

@media (max-width: 1300px) {
  .manage .manage_inner {
    height: 1000px;
    padding-top: 80px;
    flex-wrap: wrap;
  }
  .manage .manage_inner img {
    padding-top: 20px;
  }
}
@media (max-width: 1100px) {
  .container {
    padding: 0 50px;
  }

  .header_inner {
    margin-top: 50px;
    flex-direction: column;
    font-size: 26px;
  }
  .header_inner .menu {
    margin-bottom: 75px;
  }
  .header_inner .menu .logo {
    transform: scale(2);
  }
  .header_inner .menu .nav .link {
    margin-left: 60px;
  }
  .header_inner .media .nav .link {
    margin-right: 100px;
  }
  .header_inner .media .nav .link img {
    transform: scale(2);
  }
  .header_inner .media .button {
    padding: 30px 40px;
    font-size: 26px;
    border-radius: 6px;
  }

  .intro .intro_inner {
    margin-top: 200px;
  }
  .intro .intro_inner h2 {
    font-size: 15px;
  }
  .intro .intro_inner h1 {
    font-size: 55px;
  }
  .intro .intro_inner p {
    width: 470px;
    font-size: 20px;
  }
  .intro .intro_inner .slider {
    padding-top: 120px;
  }

  .features .features_inner {
    padding: 0 60px;
  }

  .footer p {
    padding-top: 100px;
  }
  .footer .footer_inner {
    margin-top: 50px;
    flex-direction: column;
    font-size: 26px;
  }
  .footer .footer_inner .menu {
    margin-bottom: 75px;
  }
  .footer .footer_inner .menu .logo {
    transform: scale(2);
  }
  .footer .footer_inner .menu .nav .link {
    margin-left: 60px;
  }
  .footer .footer_inner .media .nav .link {
    margin-right: 100px;
  }
  .footer .footer_inner .media .nav .link img {
    transform: scale(2);
  }
  .footer .footer_inner .media .button {
    padding: 30px 40px;
    font-size: 26px;
    border-radius: 6px;
  }
}
@media (max-width: 1000px) {
  .header_inner {
    margin-top: 100px;
  }
  .header_inner .menu {
    flex-direction: column;
  }
  .header_inner .menu .logo {
    transform: scale(4);
  }
  .header_inner .menu .nav {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header_inner .menu .nav .link {
    margin-bottom: 50px;
    margin-left: 0;
  }
  .header_inner .media {
    flex-direction: column;
  }
  .header_inner .media .nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .header_inner .media .nav .link {
    margin-right: 0;
    margin-bottom: 100px;
  }
  .header_inner .media .nav .link img {
    transform: scale(4);
  }
  .header_inner .media .button {
    font-size: 30px;
  }

  .intro .container {
    padding: 0 50px;
  }
  .intro .intro_inner {
    background-image: none;
    margin-top: 1300px;
  }
  .intro .intro_inner h1 {
    margin: 40px 0;
  }
  .intro .intro_inner p {
    width: 320px;
  }
  .intro .intro_inner .circle {
    margin-top: 50px;
    font-size: 500%;
  }
  .intro .intro_inner .slider {
    padding-top: 120px;
  }
  .intro .intro_inner .slider img {
    transform: scale(2);
    margin-right: 25px;
  }

  .customers {
    margin-top: 500px;
  }
  .customers .customers_inner .nav {
    flex-direction: column;
  }
  .customers .customers_inner .nav .link {
    margin: 0;
    margin-bottom: 60px;
  }
  .customers .customers_inner .nav .link img {
    transform: scale(1.6);
  }

  .manage {
    padding-top: 50px;
    margin-top: 200px;
  }
  .manage .manage_inner .main p {
    width: 200px;
  }
  .manage .manage_inner img {
    transform: scale(0.8);
  }

  .features .features_inner .main {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .features .features_inner .main .item {
    transform: scale(1.4);
    margin-bottom: 160px;
  }
  .features .features_inner .subtitle {
    flex-direction: column;
  }
  .features .features_inner .subtitle p {
    margin: 75px 0;
  }
  .features .features_inner .subtitle .button {
    transform: scale(1.6);
  }

  .stats {
    margin-top: 1500px;
  }

  .blog {
    padding-top: 100px;
  }
  .blog .blog_inner .main {
    text-align: center;
    height: 900px;
    flex-direction: column;
    align-items: center;
  }
  .blog .blog_inner .main .text {
    padding-bottom: 50px;
  }
  .blog .blog_inner .slider {
    padding: 0;
  }

  .quotes {
    margin-top: 140px;
  }
  .quotes .quotes_inner {
    height: 560px;
    flex-direction: column;
  }

  .started {
    padding-top: 50px;
  }
  .started .started_inner p {
    padding: 30px 0;
  }
  .started .started_inner .buttons .button {
    margin-bottom: 25px;
  }

  .news .news_inner .one p {
    width: 160px;
  }
  .news .news_inner .two input {
    width: 140px;
    margin-bottom: 25px;
  }
  .news .news_inner .two .button {
    padding: 30px 50px;
  }

  .footer p {
    display: none;
  }
  .footer .footer_inner {
    margin-top: 100px;
  }
  .footer .footer_inner .menu {
    flex-direction: column;
  }
  .footer .footer_inner .menu .logo {
    transform: scale(4);
  }
  .footer .footer_inner .menu .nav {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footer .footer_inner .menu .nav .link {
    margin-bottom: 50px;
    margin-left: 0;
  }
  .footer .footer_inner .media {
    flex-direction: column;
  }
  .footer .footer_inner .media .nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer .footer_inner .media .nav .link {
    margin-right: 0;
    margin-bottom: 100px;
  }
  .footer .footer_inner .media .nav .link img {
    transform: scale(4);
  }
  .footer .footer_inner .media .button {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .manage .manage_inner {
    padding-top: 0;
    height: 600px;
  }
  .manage .manage_inner .main .buttons .button {
    transform: scale(1.2);
    margin-bottom: 50px;
  }
  .manage .manage_inner img {
    display: none;
  }

  .stats {
    margin-top: 1600px;
  }
  .stats .stats_inner {
    flex-direction: column;
    align-items: center;
  }
  .stats .stats_inner .item {
    width: 100%;
  }
  .stats .stats_inner .item:last-child, .stats .stats_inner .item:first-child {
    text-align: center;
    padding: 50px 0;
  }

  .blog {
    padding-top: 300px;
  }
  .blog .blog_inner .main .text p {
    padding: 0 50px;
    margin-bottom: 50px;
  }

  .quotes .quotes_inner {
    height: 300px;
  }
  .quotes .quotes_inner img {
    display: none;
  }

  .faq {
    margin-top: 100px;
  }
  .faq .faq_inner .main .item {
    padding: 0 120px;
  }
  .faq .faq_inner .main .info {
    flex-direction: column;
  }
  .faq .faq_inner .main .info p {
    margin-bottom: 50px;
  }
}